<div id="index">
	<p id="notice"><%= notice %></p>

	<div id="menubar">
		<h1><%= link_to 'Nikocity', root_path %></h1>
		<div id="links">
			<%= link_to 'Delete all', delete_all_media_path, method: 'get', data: { confirm: 'Are you sure?' } %>
			<%= link_to 'New', new_medium_path %>
		</div>
	</div>

	<ul>
	<% @media.reverse.each do |medium| %>
		<li><%= link_to(image_tag(medium.image.url), medium) %></li>
	<% end %>
	</ul>
</div>