<h1>Listing media</h1>

<p id="notice"><%= notice %></p>

<div id="sidebar">
  <%= image_tag @medium.image.url %>
  <%= @medium.name %>
  <%= @medium.meta %>
  <%= @medium.kind %>
  <%= link_to 'Edit', edit_medium_path(@medium) %></td>
  <%= link_to 'Delete', @medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>

<ul>
<% @media.each do |medium| %>
  <li><%= link_to(image_tag(medium.image.url), medium) %></li>
<% end %>
</ul>

<br>
<%= link_to 'Delete all', delete_all_media_path, method: 'get' %>
<%= link_to '+', new_medium_path %>
