<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medium.name %>
</p>

<p>
  <strong>Meta:</strong>
  <%= @medium.meta %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @medium.kind %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %>
<%= link_to 'Delete', medium_path(@medium), method: :delete %>
<%= link_to 'Back', media_path %>
