<div id="show">	
	<div id="name" class="display">
	  <strong>Name:</strong>
	  <%= @medium.name %>
	</div>

	<div id="meta" class="display">
	  <strong>Meta:</strong>
	  <%= @medium.meta %>
	</div>

	<div id="kind" class="display">
	  <strong>Kind:</strong>
	  <%= @medium.kind %>
	</div>
	
	<div id="links">
		<%= link_to 'Back', media_path, id: 'back' %>
		<%= link_to 'Edit', edit_medium_path(@medium), id: 'edit' %>
		<%= link_to 'Delete', medium_path(@medium), method: :delete, id: 'delete', data: { confirm: 'Are you sure?' } %>
	</div>
</div>